* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
html, body {
    width: 100%;
    overflow-x: hidden; 
    scroll-behavior: smooth;
    
}

::selection {
    background-color: #e4c2a8;  
    color: white;             
}


body {
    background-color: #FFFFFF; 
    color: #333333;
    font-family: 'Nunito', sans-serif;
    
    position: relative;
    text-align: center;
}

section{
    
    height: 700px;
    font-size: larger;

}

header{
    height: 100px;
    margin-right: -550px;
    padding-bottom: 160px;
    padding-top: 10px;
}

#sectionAccueil{
    overflow: hidden; 

}

.background-circle {
    position: absolute;
    width: 600px; 
    height: 600px;
    background: #e4c2a8; 
    border-radius: 50%; 
    top: 1%; 
    left: 85%;
    transform: translateX(-50%);
    z-index: -1; 
    transition: transform 0.2s ease-out; 
  }

.content{
    text-align: center;

    padding: 40px 300px;
}

.content-moi{
    text-align: center;
    font-size: smaller;
    padding-right: 210px;
    padding-left: 100px;
    padding-top: 30px;

}

#imageMoi{
    width: 23%; 
    margin: 50px;
}

.background-square {
    position: absolute;
    width: 300px;
    height: 300px;
    background: #aa917e; 
    border-radius: 15px; 
    top: 30%;
    left: 0%;
    transform: translateX(-50%);
    z-index: -1;
    transition: transform 0.2s ease-out;
  }
  

.nav-link {
    color: black;
    margin: 15px;
}

#btnHover {
    display: inline-block;
    color: black;
    background-color: transparent;
    border: none;
    position: relative;
    overflow: hidden;
    cursor : pointer;
    transition: color 0.4s ease;
    border-radius: 3px;
    
}

#btnHover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e4c2a8;
    z-index: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
}

#btnHover:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

#btnHover:hover {
    color: white; 
}

#btnHover span {
    position: relative;
    z-index: 1;
}


#contact{
    letter-spacing: 0px;
    transition: 360ms ease-in-out;
}

#contact:hover{
    letter-spacing: 2px;
    transition: 350ms ease-in-out;

}

#contact:after,
#contact:before {
  backface-visibility: hidden;
  border: 1px solid white;
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

#contact:hover:after,
#contact:hover:before {
  backface-visibility: hidden;
  border-color: #e4c2a8;
  transition: width 350ms ease-in-out;
  width: 60%;
}

.nav-link:hover {
    color: black;
}

.contact{
    border:#333333;
    border: 10px;
    padding-top: 100px;
    padding-left: 400px;
    padding-right: 400px;
}


hr{
    
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 40px;
    background-color: black;
}
     #myBtn {
        display: none; 
        position: fixed;
        bottom: 20px; 
        right: 30px; 
        z-index: 99; 
        padding-right: 15px; 
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        
      }
      
      #myBtn:hover {
        background-color: #e4c2a8; 
        color: white;
        border-color: #e4c2a8;
      }


      
.iconLink :hover{
    transform: scale(1.2);
    transition-duration: .2s;
    content: url("Images/icons8-linkedin-noir.png");
}

.iconGit :hover{
    transform: scale(1.2);
    transition-duration: .2s;
    content: url("Images/icons8-github-noir.png");
}


.navbar-scrolled{
    background-color: #FFFFFF;
    transition: background-color 0.2s ease;
}

